# Lab 2

Use this notebook to compete each exercise below. Add cells as necessary. 

1. Road data for Franklin County, which is maintained by the State of Ohio, is available in `./data/02-roads.csv` with a description of columns in `./data/02-roads-description.csv`. Load the data and perform the following tasks:

    - Filter the data to include only roads with speed limits of 55 mph or greater
    - Drop any columns missing data for every row in the filtered data 
    - Drop any rows missing data in the filtered data
    - Display the first few rows of filtered data
    
2. Use pandas to retrieve the data from the `pit_df` dataframe that we created at the end of Unit 2 and the Franklin County road data prepared in Step 1, above as two separate DataFrames. Use `merge()` to create a new DataFrame that joins the data in meaningful ways. In order to do this, you will need to consider potential meaningful associations between the two datasets, and how you might use them together to further analyze the combined datasets. To complete this portion of the lab, feel free to create subsets of the dataframes to be merged, and consider modifying certain fields to help you merge the data in meaninful ways. For instance, many dwellings have address data which can be modified to only contain street names that correspond to the Franklin County roads dataset.

In [26]:
import pandas as pd

# load full dataset for initial analysis
franklin_road = pd.read_csv('../data/02-roads.csv')
# validate the file
franklin_road.head()

,Unnamed: 0,DIVIDED_HWY,LANES,MEDIAN_WIDTH,NLFID,ROUTE_NBR,ROUTE_TYPE,SHLD_LT_TOTAL_WIDTH,SHLD_RT_TOTAL_WIDTH,SPEED_LIMIT_NBR,STREET_NAME_TXT,STREET_DIR_SUFFIX,SURFACE_LT_WIDTH,SURFACE_RT_WIDTH
0,267624,N,2.0,NaN,CFRACR00002**C,2,CR,NaN,NaN,NaN,HAYES,NaN,10.0,10.0
1,267625,N,2.0,NaN,CFRACR00002**C,2,CR,NaN,NaN,NaN,HAYES,NaN,10.0,10.0
2,267626,N,2.0,NaN,CFRACR00002**C,2,CR,NaN,NaN,NaN,HAYES,NaN,10.0,10.0
3,267627,N,2.0,NaN,CFRACR00002**C,2,CR,NaN,NaN,NaN,HAYES,NaN,10.0,10.0
4,267628,N,2.0,NaN,CFRACR00002**C,2,CR,NaN,NaN,NaN,HAYES,NaN,10.0,10.0

In [27]:
# Look at what the values are for SPEED_LIMIT_NBR
franklin_road.SPEED_LIMIT_NBR.value_counts()

0.0     1824
35.0    1617
45.0     652
65.0     574
25.0     565
50.0     232
55.0     221
40.0     144
30.0      61
60.0      31
70.0       8
20.0       3
Name: SPEED_LIMIT_NBR, dtype: int64

In [28]:
#  What is the total number of records with speed limit > 0?
len(franklin_road[franklin_road.SPEED_LIMIT_NBR >= 0.0])

5932

In [29]:
# Then, get a count of rows where SPEED_LIMIT_NBR >=55
len(franklin_road[franklin_road.SPEED_LIMIT_NBR >= 55.0])

834

So, after we filter the data to include only roads with 55 and greater, we should end up with 834 rows of data!

In [30]:
franklin_road = franklin_road[franklin_road.SPEED_LIMIT_NBR >= 55.0]

In [31]:
len(franklin_road[franklin_road.SPEED_LIMIT_NBR >= 0.0])

834

Yay!  Now we need to identify columns that have missing data for every row and drop those columns
-First let's see what all the columns are
-Then we will look at what the unique values for each column
-If any column has unique values that are just empty or NaN, we will delete
**Validate this approach with prof.

In [32]:
# show a list of all the columns
franklin_road.columns.tolist()

['Unnamed: 0',
 'DIVIDED_HWY',
 'LANES',
 'MEDIAN_WIDTH',
 'NLFID',
 'ROUTE_NBR',
 'ROUTE_TYPE',
 'SHLD_LT_TOTAL_WIDTH',
 'SHLD_RT_TOTAL_WIDTH',
 'SPEED_LIMIT_NBR',
 'STREET_NAME_TXT',
 'STREET_DIR_SUFFIX',
 'SURFACE_LT_WIDTH',
 'SURFACE_RT_WIDTH']

In [33]:
# Look at documentation / description
franklin_road_desc = pd.read_csv('../data/02-roads-description.csv')
# validate the file
franklin_road_desc.head(20)

,Name,Table Column Name,Description,Type
0,Divided Highway,DIVIDED_HWY,Indicates whether a roadway section is part of...,text
1,Lanes,LANES,Number of lanes in both directions carrying th...,long int
2,Median Width,MEDIAN_WIDTH,"Existing median width, including inside shoulders",long int
3,NLFID,NLFID,Primary key field that allows ODOT’s graphic r...,text
4,Route Number,ROUTE_NBR,Route number associated with the section of th...,text
5,Route Type,ROUTE_TYPE,Two letter code indicating the basic transport...,text
6,Shld Lt Total Width,SHLD_LT_TOTAL_WIDTH,"Width of left (outside) shoulder, including bo...",long int
7,Shld Rt Total Width,SHLD_RT_TOTAL_WIDTH,Width of the paved portion of the right (outsi...,long int
8,Speed Limit Number,SPEED_LIMIT_NBR,Speed limit associated with the section of roa...,long int
9,Street Direction Suffix,STREET_DIR_SUFFIX,Differentiates named roadway segments based on...,text
10,Street Name Text,STREET_NAME_TXT,Street name,text
11,Surface Left Width,SURFACE_LT_WIDTH,Surface width on the left side of the roadway,long int
12,Surface Right Width,SURFACE_RT_WIDTH,Surface width on the right side of the roadway,long int

For each column, let's see what the unique values are

In [34]:
franklin_road.DIVIDED_HWY.unique()

array(['N', 'Y'], dtype=object)

In [35]:
franklin_road.LANES.unique()

array([ 2.,  4.,  6.,  8.,  7.,  5., 10.,  9.,  3.])

In [36]:
franklin_road.MEDIAN_WIDTH.unique()

array([      nan, 5.000e+01, 4.400e+01, 4.000e+00, 9.900e+01, 3.000e+00,
       3.000e+01, 3.200e+01, 3.600e+01, 4.000e+01, 7.600e+01, 8.400e+01,
       6.000e+01, 3.400e+01, 9.999e+03, 5.000e+00, 1.200e+01, 5.200e+01,
       4.200e+01, 6.000e+00, 2.000e+01, 7.200e+01, 4.800e+01, 2.200e+01,
       1.000e+02, 2.700e+01, 8.000e+00])

In [37]:
franklin_road.NLFID.unique()

array(['CFRACR00003**C', 'CFRACR00068**C', 'CFRACR00122**C',
       'CFRACR00235**C', 'CFRACR00262**C', 'SFRAIR00070**C',
       'SFRAIR00071**C', 'SFRAIR00270**C', 'SFRAIR00670**C',
       'SFRASR00104**C', 'SFRASR00161**C', 'SFRASR00315**C',
       'SFRASR00317**C', 'SFRASR00605**C', 'SFRASR00665**C',
       'SFRASR00674**C', 'SFRAUS00033*TC', 'SFRAUS00033**C',
       'SFRAUS00040**C', 'SFRAUS00062**C'], dtype=object)

In [38]:
franklin_road.ROUTE_NBR.unique()

array([  3,  68, 122, 235, 262,  70,  71, 270, 670, 104, 161, 315, 317,
       605, 665, 674,  33,  40,  62])

In [39]:
franklin_road.ROUTE_TYPE.unique()

array(['CR', 'IR', 'SR', 'US'], dtype=object)

In [40]:
franklin_road.SHLD_LT_TOTAL_WIDTH.unique()

array([nan,  4., 11.,  6.,  7., 10., 14., 12.,  5.,  8., 16., 13., 17.,
       15.,  0.,  3.,  1.])

In [41]:
franklin_road.SHLD_RT_TOTAL_WIDTH.unique()

array([nan, 10.,  8., 12.,  4.,  9.,  6.,  2.,  3.])

In [42]:
franklin_road.STREET_NAME_TXT.unique()

array(['HILLIARD-ROME', 'GODOWN', 'ALUM CREEK', 'ROHR', 'HOOVER', 'I-70',
       'I-71', 'JACK NICKLAUS', 'I-670', 'RAMP E', 'JACKSON',
       'JAMES WAGNER MEMORIAL', 'RAMP C', 'DUBLIN-PLAIN CITY',
       'DUBLIN-GRANVILLE', 'NEW ALBANY', 'MOODY-JACKSON',
       'LONDON-GROVEPORT', 'NEW ALBANY-CONDIT', 'WINCHESTER SOUTHERN',
       'LITHOPOLIS', 'US-33T', 'COLUMBUS-MARYSVILLE', 'BRIDGE',
       'COLUMBUS-LANCASTER', 'NATIONAL', 'HARRISBURG', 'RAMP O', 'US-62',
       'JOHNSTOWN'], dtype=object)

In [43]:
franklin_road.STREET_DIR_SUFFIX.unique()

array([nan], dtype=object)

NOTE:  STREET_DIR_SUFFIX has only NaN, so we will drop that column once we are done examining each column

In [44]:
franklin_road.SURFACE_LT_WIDTH.unique()

array([10., 13., 24., 36.,  9., 48., 12., 16., 72., 60., 20., 22., 11.,
       35., 18., 49.])

In [45]:
franklin_road.SURFACE_RT_WIDTH.unique()

array([10., 13., 24., 36.,  9., 48., 60., 16., 72., 12., 43.,  8., 20.,
        4.,  2., 11., 18., 35.])

In [60]:
# Now lets drop the STREET_DIR_SUFFIX
franklin_road.drop(['STREET_DIR_SUFFIX'], axis=1, inplace=True)

Now it is time to drop any rows with any missing 
It appears that the following columns have missing data based on our look at unique values:
    MEDIAN_WIDTH
    SHLD_LT_TOTAL_WIDTH
    SHLD_RT_TOTAL_WIDTH

In [46]:
# Let's look at the total length of franklin road again
len(franklin_road)

834

In [47]:
# 834
# Now, let's see how many rows of data have MEDIAN_WIDTH = NaN
franklin_road.MEDIAN_WIDTH.isna().sum()

124

In [48]:
# 124
# So let's get rid of those and recount our rows
# Expect it to be 834 - 124 = 710
# Exclude rows with null value in MEDIAN_WIDTH
franklin_road = franklin_road[franklin_road.MEDIAN_WIDTH.notna()]

In [50]:
len(franklin_road)

710

In [51]:
#  Great, verified 710!
#  Now we will do the same with SHLD_LT_TOTAL_WIDTH
#  See how many rows of data have SHLD_LT_TOTAL_WIDTH = NaN
franklin_road.SHLD_LT_TOTAL_WIDTH.isna().sum()

7

In [52]:
# 7
# So let's get rid of those and recount our rows
# Expect it to be 710 - 7 = 703
# Exclude rows with null value in SHLD_LT_TOTAL_WIDTH
franklin_road = franklin_road[franklin_road.SHLD_LT_TOTAL_WIDTH.notna()]

In [53]:
len(franklin_road)

703

In [54]:
# 703 verified
#  Now we will do the same with SHLD_RT_TOTAL_WIDTH
#  See how many rows of data have SHLD_RT_TOTAL_WIDTH = NaN
franklin_road.SHLD_RT_TOTAL_WIDTH.isna().sum()

0

In [55]:
# 0?  Let's look at the values again?
franklin_road.SHLD_LT_TOTAL_WIDTH.unique()
# len(franklin_road)

array([ 4., 11.,  6.,  7., 10., 14., 12.,  5.,  8., 16., 13., 17., 15.,
        0.,  3.,  1.])

In [56]:
# Hmm...first time I ran it was 0, but we will assume that the removal of prior rows with NaN fields took care of this
# We will recheck SHLD_RT_TOTAL_WIDTH 
franklin_road.SHLD_RT_TOTAL_WIDTH.unique()

array([10.,  8., 12.,  4.,  9.,  3.])

In [61]:
# display the first few rows of data
franklin_road.head()

,Unnamed: 0,DIVIDED_HWY,LANES,MEDIAN_WIDTH,NLFID,ROUTE_NBR,ROUTE_TYPE,SHLD_LT_TOTAL_WIDTH,SHLD_RT_TOTAL_WIDTH,SPEED_LIMIT_NBR,STREET_NAME_TXT,SURFACE_LT_WIDTH,SURFACE_RT_WIDTH
26997,294621,Y,6.0,50.0,SFRAIR00070**C,70,IR,4.0,10.0,65.0,I-70,36.0,36.0
26998,294622,Y,6.0,50.0,SFRAIR00070**C,70,IR,4.0,10.0,65.0,I-70,36.0,36.0
26999,294623,Y,6.0,50.0,SFRAIR00070**C,70,IR,4.0,10.0,65.0,I-70,36.0,36.0
27000,294624,Y,6.0,50.0,SFRAIR00070**C,70,IR,4.0,10.0,65.0,I-70,36.0,36.0
27001,294625,Y,6.0,44.0,SFRAIR00070**C,70,IR,4.0,10.0,65.0,I-70,36.0,36.0